@charset "UTF-8"

body{
    
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: rgb(233, 233, 115);
}

h2{
    background-color: rgb(233, 233, 115);
}

h3{
    background-color: rgb(233, 233, 115);
}

h4{
    background-color: rgb(233, 233, 115);
}

