@charset "UTF-8";


:root {
    --cor0: #FFF587;
    --cor1: #B0B6BA;
    --cor2: #6A736F;
    --cor3: #7D6B7D;
    --cor4: #A3A1A8;
}

body {
    background-color: var(--cor0);
    margin: auto;
    text-align: justify;
    font-size: 1.04em;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
}

header h1 {
    color: white;
}

nav {
    background-color: var(--cor3);
    padding: 10px;
}

nav a {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: var(--cor1);
}

main {
    margin: auto;
    padding: 20px;
    padding-left: 25px;
    background-color: white;
    text-align: justify;
    max-width: 1000px;
    min-width: 300px;
    border-radius: 5px;
}

main img{
    max-width: 350px;
    margin: auto;
    display: block;
}

ul {
    list-style-type: '\2714\00a0';
    margin-left: 30px;
}
    
footer {
    background-color: #5c565c;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
