@charset "UTF-8"


body{
    
    background-color: rgb(73, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}

h2{
    color: white;
}

button{
    background-color: red;
    color: white;
    c
}

p{
    color: white;
}



