@charset "UTF-8";

:root {
    --cor0: #168039;
    --cor1: #56cf8a;
}

@font-face {
    font-family: BebaNeues;
    src: url(BebasNeue-Regular.ttf) format('opentyoe');
}

@font-face {
    font-family: IDroid;
    src: url(IDroid.otf) format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0px;
}

h1 {
    text-align: center;
}

header {
    background-image: linear-gradient(to bottom,#168039, #044D29);
    color: white;
    padding: 45px;
    margin: 0px;
    text-align: justify;
}

nav {
    text-align: left;
}

nav > a {
    color: #56cf8a;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding-right: 10px;
}

nav > a:hover{
    color: #063D1E;
    background-color: #56cf8a;
    border-radius: 3px;
    padding: 5px;
}

picture#centro {
    text-align: center;
}

main {
    border-radius: 20px;
    width: 900px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.226);
}

main#diferente ,h3#difernete , p#diferentes , ol{
    background-color: #62c081;
}

h2 , h3 {
    color: #063D1E;
    font-family: 'IDroid',Arial, Helvetica, sans-serif;
}

h2 , h3 , p {
    text-align: left;
    margin-left: 50px;
}

h3#degrade {
    background-image: linear-gradient(to right, #8af7b9,    #ffff);
}

section > article {
    background-color: #ffff;
    border-radius: 5px;
}

video#video{
    margin-right: auto;
}

ol > li {
    text-align: left;
}

h3#cor {
    background-color: #063D1E;
    color: white;
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #063D1E;
    color: white;
    text-align: center;
}