@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    font-family: cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 2em;
    background-size: 100vw;
    line-height: 2em;
    font-size: 3.5vw;
    background-attachment: fixed;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(43, 32, 32);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.616);
    padding: 5px;
    display: inline-block;
}

section#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img2 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}